.App {
  background-color: #000;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #000;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  border: 1px solid aquamarine;
}

.github,
.lofi,
.caption,
.clock {
  font-size: xx-large;
  color: aquamarine;
}

.github,
.lofi {
  float: none;
  text-align: center;
}

.caption,
.clock {
  text-align: center;
}

